<h1 class="title">Home: EcommersToys</h1>
<a href="http://localhost:8080/"><button>Home</button></a>
<a href="http://localhost:8080/products"><button>Productos</button></a>
<a href="http://localhost:8080/realTimeProducts"><button>Agregar Productos</button></a>
<a href="http://localhost:8080/login"><button>Login</button></a>
<a href="http://localhost:8080/register"><button>Register</button></a>
<a href="http://localhost:8080/profile"><button>Profile</button></a>