
<div class="w-1/3 mx-auto mt-10">
    <h1 class="title text-3xl font-bold mb-4">Ingresa</h1>
    <form id="loginForm" class="space-y-4">
        <div class="form-control">
            <label class="label">
                <span class="label-text">Email</span>
            </label>
            <input name="email" class="input input-bordered">
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Contraseña</span>
            </label>
            <input name="password" class="input input-bordered">
        </div>
        <div class="form-control mt-6">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</div>

<script src="/js/login.js"></script>