<a href="http://localhost:8080/"><button>Home</button></a>
<a href="http://localhost:8080/products"><button>Productos</button></a>
<a href="http://localhost:8080/realTimeProducts"><button>Crear Productos</button></a>
<a href="http://localhost:8080/login"><button>Login</button></a>
<a href="http://localhost:8080/register"><button>Register</button></a>
<a href="http://localhost:8080/profile"><button>Profile</button></a>
<a href="http://localhost:8080/carts"><button>Carrito</button></a>

<h1>Ingresa</h1>

<form id="loginForm">
    <label>Email</label>
    <input name="email">
    <br/>
    <label>Contraseña</label>
    <input name="password">
    <br/>
    <input type="submit">
</form>

<script src="/js/login.js"></script>