
<h1 class="text-3xl font-bold mb-4">Perfil</h1>
<p class="text-lg mb-2">{{user.name}}</p>
<p class="text-lg mb-4">Rol: {{user.role}}</p>

<a href="/api/sessions/logout">
  <button id="logoutButton" class="btn btn-primary">Logout</button>
</a>