<div class="w-1/3 mx-auto mt-10">
<h1 class="title text-3xl font-bold mb-4">Crear Producto</h1>
<form id="formProduct" class="space-y-4 product-form" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-control">
      <label class="label">
        <span class="label-text">Título</span>
      </label>
      <input type="text" name="title" required class="input input-bordered">
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Descripción</span>
      </label>
      <input type="text" name="description" required class="input input-bordered">
    </div>
  </div>
  <div class="form-row">
    <div class="form-control">
      <label class="label">
        <span class="label-text">Código</span>
      </label>
      <input type="text" name="code" required class="input input-bordered">
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Precio</span>
      </label>
      <input type="number" name="price" required class="input input-bordered">
    </div>
  </div>
  <div class="form-row">
    <div class="form-control">
      <label class="label">
        <span class="label-text">Stock</span>
      </label>
      <input type="number" name="stock" required class="input input-bordered">
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Categoría</span>
      </label>
      <input type="text" name="category" required class="input input-bordered">
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Thumbnail</span>
      </label>
      <input type="file" name="thumbnail" multiple placeholder="Thumbnails" class="input input-bordered">
    </div>
  </div>
  <div class="form-control mt-6">
    <button type="submit" class="btn btn-primary">Crear Producto</button>
  </div>
</form>
</div>

<h1 class="title text-3xl font-bold mb-4">Lista de Productos</h1>
<div id="productsContainer" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 w-auto">
   <!--vista tabla de productos-->
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>